

<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<script>
  window.searchSprite = "<%= asset_path('searchsprite.png') %>"
  window.profPic = "<%= asset_path('corgi.jpg') %>"
  window.runningShoe = "<%= asset_path('runningshoe.png') %>"
  window.like = "<%= asset_path('like.png') %>"
  window.comment = "<%= asset_path('comment.png') %>"
  window.plusSign = "<%= asset_path('add.png') %>"
  window.edit = "<%= asset_path('edit.png') %>"
  window.wrench = "<%= asset_path('wrench.png') %>"
  window.undo = "<%= asset_path('undo.png') %>"
  window.redo = "<%= asset_path('redo.png') %>"
</script>



<div id="root"></div>
