

<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<script>
  window.searchSprite = "<%= asset_path('searchsprite.png') %>"
  window.profPic = "<%= asset_path('corgi.jpg') %>"
  window.plusSign = "<%= asset_path('add.png') %>"
  window.edit = "<%= asset_path('edit.png') %>"
</script>



<div id="root"></div>
