<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124154600-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-124154600-2');
    </script>
    <title>Strive</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="https://lh3.googleusercontent.com/JJoVjqKq9NZnTSI7PDwkVkkwHm9bDCwVZd5p_d6ULkjiLWigOis5N4SKdxVAyQy6nQ=w300">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyA2Ob2QcC3i0HtoMY78eJXmq5mtSobpeJQ&libraries=places" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
