<!DOCTYPE html>
<html>
  <head>
    <title>Strive</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="https://lh3.googleusercontent.com/JJoVjqKq9NZnTSI7PDwkVkkwHm9bDCwVZd5p_d6ULkjiLWigOis5N4SKdxVAyQy6nQ=w300">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyB_XQP7RQdVHOROH1FogfVbqmk-sBD3smc" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
